.header-button {
    padding: 21px 16px 22px 15px;
    cursor: pointer;
}

.user.header-button {
    width: 96px;
    height: 59px;

    margin-left: 12px;

    padding: 22px 19px 19px 20px;
}

.user:before {
    content: url("../img/login.svg");
}
.header-button:hover,
.header-button:active,
.header-button:focus {
    background-color: #0043a4;
}

.location-button {
    cursor: pointer;

    color: #f4f4f4;
    padding: 0;
    background: none;
    box-shadow: none;
    border: none;
}

.catalog-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    cursor: pointer;

    letter-spacing: 1px;

    border: 1px solid transparent;
    border-radius: 3px;
}

.catalog-button:focus {
    border: 1px solid #145ec9;
}
.hamb {
    margin-right: 10px;
}

.hamb,
.hamb:before,
.hamb:after {
    display: block;

    width: 12px;
    height: 2px;
    background-color: #1670ef;
}

.hamb:before,
.hamb:after {
    content: '';
}

.hamb:before {
    transform: translateY(-4px);
}

.hamb:after {
    transform: translateY(2px);
}

.search-done-button {
    cursor: pointer;
    letter-spacing: 1px;
    color: #f4f6f9;
    padding: 10px 23px 13px 22px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #1771f1;

    transition: background 0.3s;
}

.search-done-button:hover {
    background: #0043a4;
}

.bookmarks-button {
    padding-left: 44px;
}

.bookmarks-button:before {
    content: url("../img/like.svg");
    cursor: pointer;

    position: absolute;
    top: -2px;
    left: 12px;

    transition: content 1s;
}

.bookmarks-button:hover:before {
    content: url("../img/like-hover.svg");
}

.basket-button {
    padding-left: 33px;
}

.basket-button:before {
    position: absolute;
    top: -2px;
    left: 5px;

    content: url("../img/basket.svg");
}

.basket-button:hover:before {
    content: url("../img/basket-hover.svg");

}

.basket-count {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 10px;
    top: -7px;
    left: 13px;
    min-width: 14px;
    height: 14px;
    border-radius: 50%;
    color: #f4f4f4;
    background: #1771f1;
    transition: background 0.3s;
}

.basket-button:hover .basket-count {
    background: #0043a4;
}

.offer-button {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;

    background: #1670ef;

    border: none;
    transition: background-color 0.2s;
}

.offer-button:hover {
    background: #0043a4;
}

.offer-card-button {
    padding: 20px 40px 24px 39px;
    border-radius: 30px;
    margin-top: 36px;
}

.button-sales {
    padding: 19px 107px 20px 111px;

    font-size: 16px;
    font-weight: 600;
    color: #1670ef;

    border: 1px solid #1670ef;
    border-radius: 30px;

    transition: border 0.3s, color 0.3s;
}

.button-sales:hover {
    border: 1px solid #343030;
    color: #343030;
}

.delivery-button {
    margin-top: 19px;
    padding: 18px 18px 23px 19px;
    border-radius: 30px;
}

.catalog-header-button {
    padding: 18px 18px 23px 19px;
    border-radius: 30px;
}

.item-bookmark:before {
    left: 32px;
}

@keyframes item-buy-btn-anima {
    100% {
        background: #004FF4;
    }
}

.item-buy-btn {
    padding: 15px 23px 14px 24px;
    border: none;
    color: #F4F6F9;
    background: #0043A4 linear-gradient(270deg, #0043A4 0%, #1771F1 100%);
    border-radius: 4px;
}

.item-buy-btn:hover {
    animation-name: item-buy-btn-anima;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}