.header-button {
    padding: 21px 16px 22px 15px;
    cursor: pointer;
}

.user.header-button {
    width: 96px;
    height: 59px;

    margin-left: 12px;

    padding: 22px 19px 19px 20px;
}

.user:before {
    content: url("../img/login.svg");
}
.header-button:hover,
.header-button:active,
.header-button:focus {
    background-color: #0043a4;
}

.catalog-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding: 13px 38px 11px 36px;
    letter-spacing: 1px;

    background-color: #ebeef1;

    color: #1670ef;

    border: none;
    border-radius: 3px;
}

.hamb {
    margin-right: 10px;
}

.hamb,
.hamb:before,
.hamb:after {
    display: block;

    width: 12px;
    height: 2px;
    background-color: #1670ef;
}

.hamb:before,
.hamb:after {
    content: '';
}

.hamb:before {
    transform: translateY(-4px);
}

.hamb:after {
    transform: translateY(2px);
}

.search-done-button {
    cursor: pointer;
    letter-spacing: 1px;
    color: #f4f6f9;
    padding: 10px 23px 13px 22px;
    margin-top: 4px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #1771f1;

    transition: background 0.3s;
}

.search-done-button:hover {
    background: #0043a4;
}

.bookmarks-button {
    font-weight: 500;

    margin-left: 72px;
    margin-top: 2px;

    position: relative;
}

.bookmarks-button:before {
    content: url("../img/like.svg");

    position: absolute;
    top: -2px;
    left: -32px;

    transition: content 1s;
}

.bookmarks-button:hover:before {
    content: url("../img/like-hover.svg");
}

.basket-button {
    font-weight: 500;

    left: 63px;
    top: 1px;
    position: relative;
}

.basket-button:before {
    position: absolute;
    top: -2px;
    left: -28px;

    content: url("../img/basket.svg");
}

.basket-button:hover:before {
    content: url("../img/basket-hover.svg");

}

.basket-count {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 10px;
    top: -7px;
    left: -20px;
    min-width: 14px;
    height: 14px;
    border-radius: 50%;
    color: #f4f4f4;
    background: #1771f1;
    transition: background 0.3s;
}

.basket-button:hover .basket-count {
    background: #0043a4;

}