@font-face {
    font-family: "CeraRoundPro";
    src: url('../fonts/CeraRoundPro-Black.woff') format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "CeraRoundPro";
    src: url('../fonts/CeraRoundPro-Bold.woff') format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "CeraRoundPro";
    src: url('../fonts/CeraRoundPro-Light.woff') format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "CeraRoundPro";
    src: url('../fonts/CeraRoundPro-Medium.woff') format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "CeraRoundPro";
    src: url('../fonts/CeraRoundPro-Regular.woff') format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "CeraRoundPro";
    src: url('../fonts/CeraRoundPro-Thin.woff') format("woff");
    font-weight: 100;
    font-style: normal;
}