.header-first {
    background-color: #145ec9;

    color: #f5f4f9;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header-location {
    margin-left: 39px;

    font-size: 16px;

    border-bottom: 1px dashed #f4f4f4;
}

.header-location:before {
    content: url("../img/location.svg");

    margin-right: 6px;
}

.header-nav {
    width: 389px;
    margin-left: 142px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}



.phone {
    margin-left: 48px;
    letter-spacing: 1.1px;
}

.header-second {
    height: 99px;

    border-bottom: 1px solid #c9d7ea;
}


.search-form {
    width: 702px;

    margin-left: 44px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search-field {
    width: 611px;

    margin-top: 4px;
    padding-left: 21px;
    padding-top: 11px;
    padding-bottom: 12px;

    background-color: #ebeef1;

    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-field::placeholder {
    color: #96a7be;
}

.favorites {
    width: 84px;

    margin-left: 61px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

