.offer-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    color: #052555;

    padding-top: 148px;
}

.offer-card-content {
    width: 660px;

    margin-top: -19px;
}

.offer-card-h3 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;

    margin-bottom: 22px;
}

.offer-card-h1 {
    font-size: 44px;
    font-weight: 700;

    margin-bottom: 26px;
}

.offer-card-note {
    width: 485px;
    font-size: 16px;
    line-height: 23px;
}

.offer-card-image {
    margin-right: -7px;
    margin-top: -19px;
}

.note-link {
    color: #145ec9;

    text-decoration: underline;
}

.note-link:hover {
    color: #0043a4;
}

.offer-advantages {
    margin-top: 113px;
}

.offer-advantages-content {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.main-page-heading {
    font-size: 32px;
    font-weight: 600;
    color: #052555;
}

.offer-advantages-heading {
    line-height: 40px;

    margin-bottom: 60px;

    width: 560px;
}

.offer-advantage {
    width: 360px;
    min-height: 220px;
    background-color: #ffffff;
    border-radius: 20px;
}

.advantage-image {
    margin-top: 30px;
    margin-left: 30px;

    width: 62px;
    height: 62px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #f4f6f9;
    border-radius: 50%;
}

.advantage-content {
    margin-left: 30px;
    margin-top: 24px;

    width: 320px;

    font-size: 16px;
    line-height: 22px;
    color: #052555;
}

.offer-delivery {
    margin-top: 195px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.offer-delivery-heading {
    width: 580px;

    margin-bottom: 60px;
    line-height: 38px;
}


.offer-delivery-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.offer-sales {
    min-height: 444px;
    padding: 54px 50px 0px 62px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 10px 10px #f1f4f5;
}

.sales-heading {
    width: 316px;

    line-height: 29px;
    font-size: 22px;
    color: #1670ef;
}

.sales-content {
    margin-bottom: 26px;
    margin-top: 24px;

    width: 350px;

    font-size: 16px;
    color: #052555;
}

.sales-content p {
    line-height: 22px;
}

.sales-content p:last-child {
    margin-top: 26px;
    line-height: 25px;
}

.delivery-instruction {
    counter-reset: step-number;
    margin-left: 38px;
    margin-top: -4px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.delivery-instruction-step {
    margin-bottom: 52px;
}

.delivery-instruction-step:nth-child(odd) {
    width: 360px;
}

.delivery-instruction-step:nth-child(even) {
    width: 225px;
    margin-right: 35px;
}


.step-content {

    margin-top: 21px;
    line-height: 23px;
    color: #052555;
    font-size: 16px;
}

.delivery-instruction-step:before {
    counter-increment: step-number;
    content: "0" counter(step-number);
    font-size: 24px;
    color: #cccfd0;
    font-weight: 600;
}





.catalog-content {
    margin-top: 136px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.catalog-cards {
    margin-top: 40px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.catalog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.catalog-heading {
    width: 700px;

    line-height: 42px;
}

.card-item {
    width: 260px;
    height: 433px;

    border: 1px solid #C9D7EA;
    border-radius: 6px;

    margin-right: 39px;
    margin-bottom: 40px;
    padding: 21px 15px 21px 20px;

    transition: border 0.2s;
}

.card-item:nth-child(4n) {
    margin-right: 0;
}

.card-item:hover {
    border: 1px solid #343030;
}

.item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.item-positive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    width: 169px;
}

.positive {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 20px;

    background-color: #145ec9;
    border-radius: 5px;

    font-size: 10px;
    color: #ffffff;
}

.positive-bonus {
    background: linear-gradient(90deg, #7DC94C 0%, #2DB7D4 100%);
    width: 56px;
}

.positive-sale {
    background: linear-gradient(270deg, #0043A4 0%, #1771F1 100%);
    width: 30px;
}

.positive-sale-pochta {
    background: linear-gradient(101.89deg, #FFAB5E 33.03%, #FA3A3A 97.27%);
    width: 73px;
    white-space: pre;
}

.positive-sale-pochta span {
    text-transform: uppercase;
    font-size: 8px;
}

.item-bookmark {
    position: relative;
}

.item-image {
    margin-top: 20px;

    object-fit: contain;

    width: 220px;
    height: 127px;

    margin-left: auto;
    margin-right: auto;
    transition: 0.2s;
}

.card-item:hover .item-image {
    transform: scale(1.05);
}

.item-name {
    margin-top: 20px;

    max-height: 20px;
    overflow: hidden;

    font-size: 16px;
    color: #052555;
}

.item-other {
    height: 18px;
    width: 222px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    margin-top: 10px;
    font-size: 14px;
    color: #7A8FAD;
}

.item-availability {
    position: relative;

    font-size: 14px;
    color: #1670EF;

    margin-top: 59px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-availability a {
    border-bottom: 1px dashed #1670EF;
    transition: color 0.2s, border 0.2s;
}

.item-availability:hover a {
    color: #0043A4;
    border-bottom: 1px solid #1670EF;
}

.item-availability:after {
    content: url("../img/sale.png");

    position: absolute;
    top: -5px;
    left: 195px;
}

.item-buying {
    width: 100%;

    margin-top: 24px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.item-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.item-old-price {
    font-size: 14px;
    color: #7A8FAD;
    text-decoration-line: line-through;
}

.item-new-price {
    font-size: 20px;
    color: #052555;
}